header {
    margin-top: -100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        i{
            color: white;

            display: none !important;
            @media screen and (max-width: 1200px){
                display: inline !important;
                margin-left: 0% !important;
            }
        }
        margin-top: 10px;
        
        display: flex;
        align-items: center;
        
        
        a {
            @media screen and (max-width: 1200px){
                display: none;
            }
        margin-left: 100px;
        color: rgb(255, 255, 255);
        font-family: "BPG Banner", sans-serif;
        text-decoration: none;
        font-size: 30px;
        
        }

   
}


}