/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
    background-color: rgb(255, 255, 255);
}
#activoba {
    
    @media screen and (max-width: 800px){
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row ;
            flex-direction: row ;
    -webkit-box-pack: center  ;
        -ms-flex-pack: center  ;
            justify-content: center  ;
   .activoba {
    display: inline;
    a{
        text-decoration: none;
    article{
    @media screen and (max-width: 800px){
        width: 50%;
        height: 25%;
    }
        margin-top: -5px;
        width: 80%;
        height: 50%;
        background-color: rgb(51, 51, 51);
        text-decoration: none;
        font-size: 20px;
        
        color: white;
        border-radius: 15%;
    }

   }
}
     
        .activoba:hover {

        img{-webkit-transition: 2s;-o-transition: 2s;transition: 2s; width: 100%;
    height: 60%;}
    article{-webkit-transition: 2s;-o-transition: 2s;transition: 2s; width: 100%;}}
    img{
        @media screen and (max-width: 800px){
            width: 50%;
            height: 50%;
        }
        border-radius: 20%;
        width: 80%;
    height: 50%;
   }

}