header {
    width: 100%;
    background-color: rgba(61, 7, 7, 0.705);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-top: -110px;
    div {
        margin-top: 10px;
        margin-left: 200px;
        display: flex;
        
        
        a {
        margin-left: 100px;
        color: rgb(255, 255, 255);
        font-family: "BPG Banner", sans-serif;
        text-decoration: none;
        
        }

   
}
}
