header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    position: fixed;
    

    
        
        
        
        
        
        a {
        margin-left: 100px;
        color: rgb(255, 255, 255);
        font-family: "BPG Banner", sans-serif;
        text-decoration: none;
        font-size: 30px;
        
        

   
}
}